{% extends 'index.html' %} 
{% block encabezado %}Actualizar indexación{% endblock %} 

{% block contenido %}

<script>
    function valores() {
        document.getElementById("id_cod_caja").value="{{objeto.cod_caja}}";
        document.getElementById("id_cod_carpeta").value="{{objeto.cod_carpeta}}";
        document.getElementById("id_cod_carpeta").disabled = true;
        document.getElementById("id_folios").value="{{objeto.folios}}";
        document.getElementById("id_num_radicado").value="{{objeto.num_radicado}}";
        document.getElementById("id_id_victima").value="{{objeto.id_victima}}";
        document.getElementById("id_nombre_victima").value="{{objeto.nombre_victima}}";
        document.getElementById("id_id_declara").value="{{objeto.id_declara}}";
        document.getElementById("id_nombre_declara").value="{{objeto.nombre_declara}}";
    }
    function mayusculas() {
        document.getElementById("id_nombre_victima").value = document.getElementById("id_nombre_victima").value.toUpperCase();
        document.getElementById("id_nombre_declara").value = document.getElementById("id_nombre_declara").value.toUpperCase();
    }
</script>

<div id="formdiv">
    <body onload="valores()" onchange="mayusculas()" onfocus="mayusculas()"> 
        <form action="" method="post">{% csrf_token %}        
            
            {{ form.as_p }}

            <button>Actualizar</button>               
        </form>
    </body> 
</div>
{% endblock %}
