{% extends 'index.html' %}
{% block encabezado %}Registrar indexación{% endblock %}

{% block contenido %}

<script>
    function mayusculas() {
        document.getElementById("id_nombre_victima").value = document.getElementById("id_nombre_victima").value.toUpperCase();
        document.getElementById("id_nombre_declara").value = document.getElementById("id_nombre_declara").value.toUpperCase();
    }

    function obligatorios() {
        var text = document.querySelector("label[for='id_cod_carpeta']").innerHTML;
        document.querySelector("label[for='id_cod_carpeta']").innerHTML = "<font color='red'>* </font>" + text;
    }

</script>

<div id="formdiv">
    <body onchange="mayusculas()" onfocus="mayusculas()" onload="obligatorios()"> 
        <form action="" method="post">{% csrf_token %}

            {% if message %}
            <div id="error_message">{{ message }}</div>
            {% endif %}

            {{ form.as_p }}

            <font id="nota">
                <br><b>Nota:</b> Por favor tenga en ecuenta lo siguiente, al momento de guardar.
                <p>
                    <li type="disc">Los campos denotados con "*" , son de caracter obligatorio.</li>
                    <li type="disc">El "codigo de carpeta" es unico.</li>   
                </p>
            </font>

            <button>Guardar</button>               
        </form>
    </body> 
</div>
{% endblock %}