{% extends 'index.html' %} {% block encabezado %}Listar usuario
{% endblock %} 

{% block contenido %}

<div id="formdiv">
    <a href="/usuario/registrar/" class="addlink">Nuevo usuario.</a><br>
    {% if objeto %}
    <table id="lista_tabla">
        <tr style="text-transform: lowercase">
            <th >codigo</th>
            <th >nombre</th>
        </tr>
        {% for usuario in objeto %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td><a href="/usuario/actualizar/{{usuario.id}}/">editar</a>/
            <td><a href="/usuario/borrar/{{usuario.id}}/">borrar</a></td>
        </td>
        </tr>
        {% endfor %}
    </table>        
    {% else %}
    <p>No se enconto ningun usuario</p>
    {% endif %}
</div>
{% endblock %}
