{% extends 'index.html' %}
{% block encabezado %}Migracion{% endblock %}

{% block contenido %}
<div id="formdiv">
    <form action="" method="post">{% csrf_token %}
        <p>Por favor ingrese la ruta completa del archivo a migrar ej: "c:/ruta/nombre_archivo.xlsx".</p>
        Archivo: <input type="text" size="100" name=filePath value="{{ruta}}" /><input type="submit" name="boton" value="Seleccionar"><br>

        {% if message %}
            <br>{{ message| safe }}
            {% if error_message %}
                <br><div id="error_message">{{ error_message | safe }}</div>                
            {% endif %}
            <br><input type="submit" name="boton" value="Cargar">
        {% else %}
            {% if error_message %}
                <br><div id="error_message">{{ error_message | safe }}</div>
            {% endif %}
        {% endif %}
    </form>

    <font id="nota">
        <br><b>Nota:</b> Por favor tenga en ecuenta lo siguiente, al momento de migrar un archivo.
        <p>
            <li type="disc">Por cada registro, el proceso demora 30mseg aproximadamente en cargar.</li>
            <li type="disc">El arcvhio debe ser igual a los siguientes archivos segun corresponda.</li>
            <li type="disc">El sistema identifica el tipo de migracion a partir del numero de columnas que tiene cada foramto.</li>
        </p>
        <a href="/desargar/{{formato1}}">{% if formato1 %}{{ formato1 }}{% endif %}</a>
        <br><a href="/desargar/{{formato2}}">{% if formato2 %}{{ formato2 }}{% endif %}</a>
    </font>

</div>
{% endblock %}